## Ignore Visual Studio files ##
.vs/
*.suo
*.user
*.pdb
*.obj
*.o
*.tlb
*.tlh
*.bak
*.cache
*.ncb
*.vc.db
*.sdf
*.opensdf
*.rc.o
*.aps
*.bsc
*.idb
*.lib
*.ilk
*.msm
*.res
*.sbr
*.ipch
*.log
*.err
*.prg

## Ignore build results and intermediate files ##
[Dd]ebug/
[Rr]elease/
[Aa]rm/[Dd]ebug/
[Aa]rm/[Rr]elease/
[Aa]rm64/[Dd]ebug/
[Aa]rm64/[Rr]elease/
[Xx]64/[Dd]ebug/
[Xx]64/[Rr]elease/
[Xx]86/[Dd]ebug/
[Xx]86/[Rr]elease/
bld/
[Bb]in/
[Oo]bj/
[Tt]emp/
*.exe
*.dll
*.com
*.scr
*.exp
*.map
*.vshost.*
*.testsettings
*.trx
*.vsix
*.webtest
*.runsettings
*.csv
*.ps1
*.psd1
*.psm1
*.publishprofile
*.userprofile
*.nupkg
*.config.user
*.publishsettings
*.suo
*.user
*.licx

## Ignore NuGet packages and project-specific files ##
packages/
*.nuget.cache
*.project.json.locked
*.rptproj.user
*.rdl.data
*.sqlproj.user
*.dtproj.user
*.deployproj.user
*.ispac
*.zip
*.rar
*.7z
*.gz
*.tar
*.iso
*.dmg
*.vmdk
*.ova
*.vdi
*.vsix
*.vsixmanifest
*.webdeploy
*.webtest

## Ignore ReSharper and other JetBrains files ##
*.resharper
*.userprefs
_ReSharper.*/
[Tt]eam[Ss]hared[Rr]eSharper[Cc]ode[Dd]ata/
*.DotSettings
*.DotSettings.user

## Ignore Visual Studio Code files ##
.vscode/

## Ignore other common files ##
*.DS_Store
Thumbs.db
Desktop.ini
~$*
*.bak
*.tmp
*.temp
*.junk
*.old
*.obj
*.lib
*.ncb
*.sdf
*.suo
*.user
*.aps
*.bsc
*.idb
*.ipch
*.log
*.master
*.mdf
*.ldf
*.orig
*.pgm
*.pch
*.pbo
*.pbi
*.ilk
*.pdb
*.tlog
*.trx
*.vc.db
*.vcp
*.vcxproj.filters
*.vcxproj.user
*.vspscc
*.vssscc
*.vsdi
*.vspscc
*.vssscc
*.vsdi
*.code-workspace
*.coverage
*.coveragexml
*.dbmdl
*.dgml
*.dsp
*.dsw
*.ess
*.etp
*.etl
*.fxcop
*.fxcop.xml
*.gcno
*.gcda
*.gch
*.gpch
*.i
*.inl
*.isp
*.jvs
*.kdbx
*.layout
*.lck
*.mak
*.mk
*.mt
*.mk
*.obj
*.opg
*.opt
*.pfx
*.pgm
*.plg
*.psess
*.psmd
*.sdf
*.sln.docstates
*.scc
*.suo
*.sqlproj.user
*.swp
*.tlog
*.tmp
*.trc
*.txt
*.vbox
*.vcproj
*.vmdk
*.vmsd
*.vmx
*.vsmdi
*.vspscc
*.vssscc
*.vst
*.vstemplate
*.vsto
*.vsz
*.wixpdb
*.wixobj
*.xap
*.xml.user
*.xsc
*.xsd
*.xsx
*.zip
!*.gitkeep